<div class ="main login-top">
<h3>Edit Your Baby Clothing and Accessory Items Here!</h3>


<form method="post" action="/things/<%= @thing.id %>">
  
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <input type="text" name="content" value="<%= @thing.content %>">  
  <input type="submit" value="update">
</form>
</div>
