<div class ="main login-top">
<h2>Edit Your Baby Clothing and Accessory Items Here!</h2>


<form method="post" action="/things/<%= @thing.id %>">
  
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  <h3> Baby Clothing: </h3> <input type="string" value="<%=@thing.name%>" name="name"><br><br>
  <h3> Baby Accessory: </h3> <input type="string" value="<%=@thing.name%>" name="name"><br><br>

  
  
  <input type="submit" value="update">
</form>
</div>