<section class="intro-section">
  <div class="container">
<h3>Edit Your Baby Clothing and Accessory Items Here!</h3>


<form action="/things/<%= @thing.id %>" method="POST">
  
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <input type="text" name="content" value="<%= @thing.content %>">  
  <input type="submit" value="Update" id="submit">
</form>
</div>
</section>

<p><a href="/users/show"><button>Your List</button></a></p>
