<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>
 <div class ="main login-top">



<h2>Here you can add all the baby clothing and accessory items you need</h2>
<h3>Feel free to brain-storm and edit all you want</h3>

<form class="" action="/things" method="post">

    <h3> Baby Clothing: </h3> <input type="string"  name="name"><br><br>
    <h3> Baby Accessory: </h3> <input type="string"  name="name"><br><br>

    <input type="submit" id="submit">

  </form>
  <p><a href="/logout"><button>Log Out</button></a></p>

 </body>
 </div>
</html>
