<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>
 <div class ="main login-top">

  <body>

  <h2>Add New Baby Items</h2>
  <h3>Items can include clothing, accessories and furniture, or anything else you may need</h3>

  <form method="POST" action="/things">
    <h3> Baby Clothing: </h3> <input type="string"  name="name"><br><br>
    <h3> Baby Accessory: </h3> <input type="string"  name="name"><br><br>

    <input type="submit" id="submit">

  </form>
  <a href="/users/<%= @user.id %>"><button>Your List</button></a></p>
  <p><a href="/logout"><button>Log Out</button></a></p>

 </body>
 </div>
</html>
