<h2>Here you can add all the baby clothing and accessory items you need</h2>
<h3>Feel free to brain-storm and edit all you want</h3>

<form class="" action="/things" method="post">

    <label for="content">Your Baby Clothing and Accessory Items:</label>
    <input type="text" name="content" value="">
    <input type="submit" id="submit">

  </form>
