
<section class="intro-section">
  <div class="container">


  <h2>Add New Baby Items</h2>
  <h3>Items can include clothing, accessories and furniture, or anything else you may need</h3>

  <form action="/things" method="POST">
    <input type="text" name="content" placeholder="Baby Item">
      <br><br>
      <input type="submit" value="submit">
    </form>

  <p><a href="/users/<%= current_user.id %>"><button>Your List</button></a></p>
  <p><a href="/logout"><button>Log Out</button></a></p>

 
 </div>
</section>
