<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>
 <div class ="main login-top">

  <body>

  <h2>Add New Baby Items</h2>
  <h3>Items can include clothing, accessories and furniture, or anything else you may need</h3>

  <form class = "" method="POST" action="/things">
    <label for="content">Your Baby Clothing:</label>  
    <label for="content">Your Baby Accessories:</label>
    <input type="text" name="content" value="">
    <input type="submit" id="submit">

  </form>
  
  <p><a href="/logout"><button>Log Out</button></a></p>

 </body>
 </div>
</html>
