<!DOCTYPE html>
<html>
 
 <body>

<h1>Edit Your Baby Clothing and Accessory Items: <%= @thing[:name] %></h1>

<br>
   
<form method="POST" action="/things/<%= @thing.id %>">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Item">
</form>


   <p><a href="/logout"><button>Log Out</button></a></p>

 </body>
</html>
