<h3>Baby Item: <%= @thing[:content] %><input placeholder=""></h3>
<section class="intro-section">
  <div class="container">



<br>

 <p><a href="/things/new"><button>Add A New Baby Item</button></a></p>
 <p><a href="/things/<%= @thing.id %>/edit"><button>Edit Baby Item</button></a></p>



 <form action="/things/<%= @thing.id %>/delete" method="POST">
   <input type="hidden" id="hidden" name="_method" placeholder="" value="DELETE">
   <input type="submit" value="Delete baby item?">
 </form>
   
 <p><a href="/users/<%= current_user.id %>"><button>Your List</button></a></p>
 <p><a href="/logout"><button>Log Out</button></a></p>

  </div>
</section>
