<section class="intro-section">
  <div class="container">

<h3>Edit Your Baby Clothing and Accessory Items: <%= @thing[:name] %></h3>

<br>
   
<button <a href="/things/<%= @thing.id %>/new">Add A New Baby Item</a></button>
<button <a href="/things/<%= @thing.id %>/edit">Edit Baby Item</a></button>

	  
 <form action="/things/<%=@thing.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="delete item">
   </form>
 <p><a href="/logout"><button>Log Out</button></a></p>

</div>
</section>
