<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>

 <body>

<h2>Welcome, Lists for Baby clothing and Accessory Needs!</h2>
<div class ="main tab_box">
<ul>
	<% @things.each do |thing| %>
	<a href="/things/<%= thing.id %>">
		<li><%= thing.content %></li>
	<% end %>
</ul>

<p><a href="/things/new"> <button>Add New Baby Item</button></a></p>
<p><a href="/logout">Log Out</a></p>

</body>
 </div>
</html>
