<section class="intro-section">
  <div class="container">
  <h2>List of Baby Clothing and Accessory Needs</h2>
      <% @things.each do |thing| %>
	     <a href="/things/<%= @thing.id %>">
       <%= thing.content %> </a><br>
       <% end %>
   
	  
  <button> <a href="/things/new">Add New Baby Item</a></button>  
	 
  <p><a href="/logout">Log Out</button></a></p>

 </div>
</section>
