<section class="intro-section">
  <div class="container">
  <h2>List of Baby Clothing and Accessory Needs</h2>
      <% @things.each do |thing| %>
	     <a href="/things/<%= thing.id %>">
       <%= thing.content %> </a><br>
       <% end %>


  <p><a href="/things/new"><button> Add New Baby Item</button></a></p> 

  <p><a href="/logout"><button>Log Out</button></a></p>

 </div>
</section>

