<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>
<body>
  <h2>List of Baby Clothing and Accessory Needs!</h2>
  <div class ="main tab_box">
  <ul>
    <ul>
    	<% @things.each do |thing| %>
	     <a href="/things/<%= thing.id %>">
       <%= thing.name %> </a><br>
       <% end %>
     </ul>
   </ul>

  <p><a href="/things/new"> <button>Add New Baby Item</button></a></p>
  <p><a href="/users/<%= @user.id %>"><button>Your List</button></a></p>
  <p><a href="/logout">Log Out</button></a></p>

 </body>
 </div>
</html>
