<h1>Sign up Here to begin creating your Baby Things - Baby Clothing and Accessory List</h1>

<div class ="main login-top">
  
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username" placeholder="Username:"></p>
  <p>Email: <input type="text" name="email" placeholder="Email:">></p>
  <p>Password: <input type="text" name="password" placeholder="Password:">></p>
  <input class="btn btn-primary" type="submit" value= "Create User">
</form>
<p><a href="/login"><button>Log In</button></a></p>
</div>