<h1>Login Here!</h1>

<div class ="main login-top">
  
<form action="/login" method="POST">
  <input type="text" class="form-control" name="username" placeholder="Username:">
  <input type="password" class="form-control" name="password" placeholder="Password:">
  <input type="submit" class="btn btn-primary" value="Log In">
</form>

<br>
<p><a href="/signup"><button>Sign Up</button></a></p>
</div>
</section>
