<h1>Your Baby Clothing and Accessory Items List:</h1>

<div class ="main tab_box">

<ul>
	<% @user.things.each do |thing| %>
	 <a href="/things/<%= thing.id %>">
		<%= thing.content %> <br>
	<% end %>
</ul>

<p><a href="/things/new"><button>Add New Baby Item</button></a></p>

<h3><a href="/trips"><button>List of Baby Items</button></a></h3>
<p><a href="/logout"><button>Log Out</button></a></p>
</div>
