<h2>Here you can add baby clothing items that you need</h2>
<h3>Feel free to brain-storm and edit all you want</h3>

<form class="" action="/clothing_items" method="post">

    <label for="content">Your Baby Clothing Item:</label>
    <input type="text" name="content" value="">
    <input type="submit" id="submit">

  </form>
