<!doctype html>
<html>
  <head>
    <title>Baby Things List</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Your Baby List Guide!</h1>
      <%= yield %>
    </div>
  </body>
</html>
