<!doctype html>
<html>
  <head>
    <title>The Ultimate Baby Things and Clothing List Organizer</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Your Baby Clothing List!</h1>
      <h2>What is your must have baby item today?</h2>
      <%= yield %>
    </div>
  </body>
</html>
